
<section id="lista"  class="container">
  <div  >
    <div class="row">
      <div class="col-4">
        <img width="100%" alt="Angular Logo"src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
      </div>
      <div class="col-8  align-self-center ">
        <h1 class="">Lista de Contactos</h1>
        <form id="form">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="objeto.name" >
          </div>
          <div class="mb-3">
            <label for="cel" class="form-label">Celular</label>
            <input type="text" class="form-control" id="cel" name="cel" [(ngModel)]="objeto.cel">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="objeto.email">
          </div>
          <button type="submit" class="btn btn-primary" (click)="agregarContacto()">Añadir</button>
        </form>
      </div>
    </div>
  </div>
    <div class="row data">
      <div class="col">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Celular</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemContacto of listaContactos">
              
              <td>{{itemContacto.name}}</td>
              <td>{{itemContacto.cel}}</td>
              <td>{{itemContacto.email}}</td>
              <td><button type="button" class="btn btn-primary" (click)="editarContacto(itemContacto)">Edit</button></td>
              <td><button type="button" class="btn btn-danger" (click)="eliminarContacto(itemContacto)">Eliminar</button></td>
              

            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <div class="">
          <h3 class="">Actualizar Datos</h3>
          <form id="form">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="objeto2.name" >
            </div>
            <div class="mb-3">
              <label for="cel" class="form-label">Celular</label>
              <input type="text" class="form-control" id="cel" name="cel" [(ngModel)]="objeto2.cel">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="objeto2.email">
            </div>
            <button type="submit" class="btn btn-primary" (click)="actualizarContacto()">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
    
  
</section>