body{
  background: -webkit-linear-gradient(90deg, #bdf9ff 10%, #19bff1 90%);
  background:    -moz-linear-gradient(90deg, #bdf9ff 10%, #19bff1 90%);
  background:     -ms-linear-gradient(90deg, #bdf9ff 10%, #19bff1 90%);
  background:      -o-linear-gradient(90deg, #bdf9ff 10%, #19bff1 90%);
  background:         linear-gradient(90deg, #bdf9ff 10%, #19bff1 90%);
}